@{
  Layout = "_Layout";
}
@using VendorOrderTracker.Models;

<div class ="container">

  <h1>Add a new Vendor</h1>

  <form action="/vendors" method=post>
  <label for="name" > Vendor name </label>
    <input type="text" name="name" required>
    <label for="description" > Brief description </label>
    <input type="text" name="description" placeholder="Optional">
    <button type="submit">Add Vendor</button>
  </form>

<p><a href="/vendors">Back to vendors</a></p>

</div>
