<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Piere's Order Tracking System</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">

  </head>
  <body id="theBod">
    <div class="jumbotron">
      @Html.Partial("Header")
      @RenderBody()
    </div>
  </body>
</html>